@charset "UTF-8";

@font-face {
  font-family: "MaplestoryOTFBold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/MaplestoryOTFBold.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

/* -------------------------------------------------------------------------- */
/* reset                                                                      */
/* -------------------------------------------------------------------------- */
body,
h1,
h2,
form,
input,
ul,
li,
div,
span {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* -------------------------------------------------------------------------- */
/* variable                                                                   */
/* -------------------------------------------------------------------------- */
:root {
  --default: #877454;
  --beige: #fefae4;
  --green: #4bc846;
}

/* -------------------------------------------------------------------------- */
/* common                                                                     */
/* -------------------------------------------------------------------------- */
.hidden {
  display: none;
}
body {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background-position: center center;
  background-size: cover;
  color: var(--default);
  font-family: MaplestoryOTFBold;
}

/* -------------------------------------------------------------------------- */
/* custom                                                                     */
/* -------------------------------------------------------------------------- */
.login-form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 800px;
  height: auto;
  padding: 50px;
  box-sizing: border-box;
  background-color: #fff;
  border-radius: 50px;
  box-shadow: 7px 7px 0px 3px var(--default);
}
.login-form input,
.login-form button {
  width: 100%;
  height: 50px;
  margin-top: 10px;
  padding: 10px 30px;
  font-size: 30px;
  line-height: 30px;
  border: 2px solid var(--default);
  border-radius: 25px;
  font-family: MaplestoryOTFBold;
}
.login-form input {
  color: var(--default);
  text-align: center;
}
.login-form button {
  background-color: var(--default);
  color: #fff;
}

.dashboard {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.todo {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 700px;
  margin: 50px;
  background: url("../img/list.png") center center no-repeat;
  background-size: cover;
}
.profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 800px;
}
.greeting {
  position: relative;
  display: inline-block;
  margin: 100px auto 0;
  padding: 20px 70px;
  background-color: var(--beige);
  border-radius: 30px;
  font-size: 50px;
  text-align: center;
  box-shadow: 7px 7px 0px 3px var(--default);
}
.greeting .name {
  color: var(--green);
}
.greeting::before {
  content: "";
  position: absolute;
  top: 30px;
  right: -120px;
  display: inline-block;
  width: 200px;
  height: 135px;
  background: url("../img/neogul.png") center center;
  background-size: cover;
}
#date {
  display: inline-block;
  margin: 50px auto 0;
  font-size: 28px;
}
#clock {
  display: inline-block;
  margin: 0 auto 50px;
  color: var(--beige);
  text-shadow: 7px 7px var(--default);
  font-size: 150px;
}
